.navbar {
  position: sticky;
  top: 0;
  z-index: 1000;
  padding: 18px 50px;
  display: flex;
  align-items: center;
  gap: 28px;
  background: linear-gradient(135deg, #1e3a5f, #0f172a);
  backdrop-filter: blur(8px);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.navbar-brand {
  font-size: 22px;
  font-weight: 800;
  letter-spacing: 0.6px;
  cursor: pointer;
}

.brand-primary {
  color: #F8FAFC;
}

.brand-secondary {
  color: #38BDF8;
}

.navbar-brand:hover .brand-primary,
.navbar-brand:hover .brand-secondary {
  color: #7DD3FC;
}

.navbar-links {
  display: flex;
  align-items: center;
  gap: 28px;
  margin-left: auto;
}

.navbar-link {
  position: relative;
  text-decoration: none;
  color: #e2e8f0;
  font-weight: 500;
  font-size: 15px;
  transition: 0.25s;
}

.navbar-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 0%;
  height: 2px;
  background: #38bdf8;
  transition: width 0.25s ease;
}

.navbar-link:hover {
  color: white;
}

.navbar-link:hover::after {
  width: 100%;
}


.navbar-user {
  display: flex;
  align-items: center;
  gap: 14px;
}

.navbar-email {
  font-size: 14px;
  color: #e2e8f0;
  background: rgba(255,255,255,0.1);
  /* background-color: inherit; */
  padding: 10px 14px;
  border-radius: 999px;
}


.logout-button {
  padding: 8px 16px;
  border-radius: 10px;
  border: none;
  margin: 0 5px 0 10px;
  background: linear-gradient(135deg, #38bdf8, #0ea5e9);
  color: white;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.25s ease;
}

.logout-button:hover {
  transform: translateY(-1px);
  box-shadow: 0 6px 14px rgba(56, 189, 248, 0.35);
}
.hamburger {
  display: none;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
}

.hamburger span {
  width: 24px;
  height: 2px;
  background: white;
  transition: 0.3s;
}

.hamburger.open span:nth-child(1) {
  transform: rotate(45deg) translateY(7px);
}

.hamburger.open span:nth-child(2) {
  opacity: 0;
}

.hamburger.open span:nth-child(3) {
  transform: rotate(-45deg) translateY(-7px);
}

@media (max-width: 768px) {
  .navbar {
    padding: 18px 25px;
  }
  .navbar-links {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 240px;
    background: linear-gradient(135deg, #1e3a5f, #0f172a);
    flex-direction: column;
    align-items: flex-start;
    padding: 90px 25px 25px;
    gap: 22px;
    transform: translateX(100%);
    transition: transform 0.3s ease;
    z-index: 998;  
  }

  .navbar-links.active {
    transform: translateX(0);
  }

  .hamburger {
    display: flex;
    margin-left: auto;
    z-index: 1000;  
    position: relative;
  }
}
